{% extends 'base.html' %}
{% load static %}

{% block title %}{{user}}{% endblock %}
{% block content %}
        <div class="page-header"><h1>Profile page - {{user}}</h1></div>

        <div class="container">
          {% if user.is_authenticated %}
            {% if user ==  curr_user %}
              <div class = "row">
                <a href = "{% url 'rango:edit_profile' %}" class = "btn btn-primary edit" style="margin-bottom:20px">Edit</a>
              </div>
            {% endif %}

            <div class = "row">
              <img src = "/media/{{ profile.picture }}" alt = 'cat' height="150" width="150" style="margin-bottom:20px"/>
              <p>Name: {{user.first_name}} {{user.last_name}}</p>
              <p>Username: {{user.username}}</p>
              <p>Email Address: {{user.email}}</p>
              <p>Website: {{profile.website}}</p>
            </div>
          {% endif %}
        </div>
{% endblock %}
