{% extends 'base.html' %}

{% block title %}Search{% endblock %}
{% block content %}
<div class="col-md-12">
  <div class="main">
        <h1>Search Page</h1>
        <div class="search"><gcse:searchbox></gcse:searchbox>
</div>
        <div name = 'result'><gcse:searchresults></gcse:searchresults></div>
        <script>
          (function() {
            var cx = '014267998000575703565:h4nzxhmqt6c';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
  </div>
</div>
{% endblock %}
